

body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaee;
    color : #333333
}

.container{
    width: 800px;
    margin: auto;
    background-color: white;

}
.head {
    height: 30px;
    background: #FFEE58;
}

.head ul li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}
.header{    
    background-color: #00B0FF;    
    height: 110px;
    padding: 2px;
    padding-bottom: 2px;
    text-align:left;    
}

.navigasi{
    background-color: #C0C0C0;
    color: black;
    margin-bottom: 20px;
}

.footer{
    margin-top: 30px;
    text-align: center;
    text-size-adjust: 12px;
    height: 30px;
    background-color: black;
    color: white;
}